.star-rating-container {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-top: 8px;

  .star-rating-label {
    font-size: 14px;
    margin-right: 4px;
    color: rgba(255, 255, 255, 0.7);
  }

  .star-btn {
    color: rgba(255, 255, 255, 0.4);

    &.active {
      color: #ffd740;
    }

    &:not([disabled]):hover {
      color: #ffd740;
    }
  }
}
