<app-generator-shell
  generatorTabLabel="Générateur"
  libraryTabLabel="Bibliothèque de galaxies">

  <!-- Parameters panel content -->
  <ng-template #paramContent>
    <app-galaxy-param #galaxyParam></app-galaxy-param>
  </ng-template>

  <!-- Action bar content -->
  <ng-template #actionBarContent>
    <app-action-bar
      [buttons]="actionBarButtons"
      [isGenerating]="isGenerating"
      [summary]="getSummary()">
    </app-action-bar>

    <!-- Star Rating - saves the galaxy -->
    <div class="star-rating-container"
         [matTooltip]="getRatingTooltip()"
         matTooltipPosition="above">
      <span class="star-rating-label">Noter &amp; sauvegarder :</span>
      @for (star of starValues; track star) {
        <button mat-icon-button
                class="star-btn"
                [class.active]="star <= currentNote"
                [disabled]="!canRate()"
                (click)="onNoteSelected(star)"
                type="button">
          <mat-icon>{{ star <= currentNote ? 'star' : 'star_border' }}</mat-icon>
        </button>
      }
    </div>
  </ng-template>

  <!-- Image preview content -->
  <ng-template #imageContent>
    <app-galaxy-image
      [imageUrl]="generatedImageUrl"
      [isGenerating]="isGenerating">
    </app-galaxy-image>
  </ng-template>

  <!-- Library content -->
  <ng-template #libraryContent>
    <app-galaxy-list (viewRequested)="onViewRequested($event)"></app-galaxy-list>
  </ng-template>

</app-generator-shell>
