<app-generator-shell
  generatorTabLabel="Générateur"
  libraryTabLabel="Bibliothèque de galaxies">

  <!-- Parameters panel content -->
  <ng-template #paramContent>
    <app-galaxy-param #galaxyParam></app-galaxy-param>
  </ng-template>

  <!-- Action bar content -->
  <ng-template #actionBarContent>
    <app-action-bar
      [buttons]="actionBarButtons"
      [isGenerating]="isGenerating"
      [summary]="getSummary()">
    </app-action-bar>
  </ng-template>

  <!-- Image preview content -->
  <ng-template #imageContent>
    <app-galaxy-image
      [imageUrl]="generatedImageUrl"
      [isGenerating]="isGenerating">
    </app-galaxy-image>
  </ng-template>

  <!-- Library content -->
  <ng-template #libraryContent>
    <app-galaxy-list (viewRequested)="onViewRequested($event)"></app-galaxy-list>
  </ng-template>

</app-generator-shell>
