<app-generator-shell
  generatorTabLabel="Générateur"
  libraryTabLabel="Bibliothèque de ciels étoilés">

  <!-- Parameters panel content -->
  <ng-template #paramContent>
    <app-sbgb-param #sbgbParam></app-sbgb-param>
  </ng-template>

  <!-- Action bar content -->
  <ng-template #actionBarContent>
    <app-action-bar
      [buttons]="actionBarButtons"
      [isGenerating]="isGenerating()"
      [summary]="getSummary()">
    </app-action-bar>
  </ng-template>

  <!-- Image preview content -->
  <ng-template #imageContent>
    <div class="image-rating-container">
      <div class="image-wrapper">
        <app-sbgb-image></app-sbgb-image>
      </div>
      @if (canRate()) {
        <div class="rating-panel">
          <span class="rating-label">Note</span>
          @for (star of starValues; track star) {
            <button mat-icon-button
                    (click)="onNoteSelected(star)"
                    type="button"
                    [matTooltip]="star + '/5'">
              <mat-icon [style.color]="star <= currentNote ? '#f59f00' : 'rgba(0,0,0,0.35)'">
                {{ star <= currentNote ? 'star' : 'star_border' }}
              </mat-icon>
            </button>
          }
        </div>
      }
    </div>
  </ng-template>

  <!-- Library content -->
  <ng-template #libraryContent>
    <app-sbgb-list (viewRequested)="onViewRequested($event)"></app-sbgb-list>
  </ng-template>

</app-generator-shell>
