<app-generator-shell
  generatorTabLabel="Générateur"
  libraryTabLabel="Bibliothèque d'images">

  <!-- Parameters panel content -->
  <ng-template #paramContent>
    <app-sbgb-param #sbgbParam></app-sbgb-param>
  </ng-template>

  <!-- Action bar content -->
  <ng-template #actionBarContent>
    <app-action-bar
      [buttons]="actionBarButtons"
      [isGenerating]="isGenerating()"
      [summary]="getSummary()">
    </app-action-bar>
  </ng-template>

  <!-- Image preview content -->
  <ng-template #imageContent>
    <app-sbgb-image></app-sbgb-image>
  </ng-template>

  <!-- Library content -->
  <ng-template #libraryContent>
    <app-sbgb-list (viewRequested)="onViewRequested($event)"></app-sbgb-list>
  </ng-template>

</app-generator-shell>
