.spinner-container {
  display: flex; /* Makes the container a Flexbox container */
  height: 100vh; /* Makes the container take the full height of the viewport */
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
}
