body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 30px;
}

html, body {
  height: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

.version-info {
  font-size: 0.8rem;
  opacity: 0.7;
  margin-left: 10px;
  white-space: nowrap;
}
